/* ini file Css */
main {
    background-image: url(https://asset-a.grid.id/crop/0x0:0x0/750x504/photo/2023/12/21/suhu-dan-temperaturjpeg-20231221082537.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 64px;
}
section {
    padding-left: 10px;
    background-color: aliceblue;
    border-radius: 6px;
}
.main-title {
    text-align: center;
}
.main-section{
    padding: 16px;
    border-radius: 4px;
}
.section-celcius {
    padding-top: 16px;
}
.section-faremheit {
    padding-top: 16px;
}
.section-result {
    padding-top: 16px;
}
textarea {
    resize: none;
    width: 35%;
    height: 75px;
}
.section-explanation {
    padding-top: 16px;
}
.rumus {
    font-size: 20px;
    font-style: italic;
}
.rumus>sub {
    font-style: normal;
}
button {
    border-radius: 4px;
}
#button-convert {
    background-color: forestgreen;
    color: white;
}
#button-reset {
    background-color: red;
    color: white;
}
#button-reverse {
    background-color: black;
    color: white;
}
.tombol {
    padding-top: 2px;
}
.before-explanation {
    color: purple;
}